
@model List<Item>


    <link href="/css/rider/inventory.css" rel="stylesheet" />

<table>
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Item Quantity</th>
            <th>Item Price</th>
            <th>Button 1</th>
            <th>Button 2</th>
        </tr>
    </thead>
    <tbody>

        @if(Model!=null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemId</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>

                   
                    <td><button class="edit-btn" data-item-id="@item.ItemId">Edit</button></td>
                    <td><button class="delete-btn" onclick="deleteItem('@item.ItemId')"  data-item-id="@item.ItemId">Delete</button></td>


                </tr>
            }
        }

        
      
    </tbody>
</table>

<button id="create-btn">Create a new item</button>
<a asp-action="HomePage" asp-controller="Rider" >Back to Home Page</a>


<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form asp-action="Inventory" asp-controller="Rider" >
            <label for="name">Item Name:</label>
            <input type="text" id="name" name="name"><br>

            <label for="description">Item Description:</label>
            <input type="text" id="description" name="description"><br>

            <label for="quantity">Item Quantity:</label>
            <input type="number" id="quantity" name="quantity"><br>

            <label for="price">Item Price:</label>
            <input type="number" id="price" name="price"><br>

            <input type="submit" value="Create">
        </form>
    </div>
</div>


<!-- Modal -->
<div id="edit-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="edit-form" asp-action="EditItem" asp-controller="Rider" method="post">
            <!-- Your form fields go here -->
            <label>Description</label>
            <input type="text" id="edit-description" name="description"><br>

            <label>Quantity</label>
            <input type="number" id="edit-quantity" step="1" onkeydown="return event.keyCode !== 190;" name="quantity"><br>
            
            <label>Price</label>
            <input type="number" id="edit-price"  step="0.01" name="price"><br>

            <input type="text" id="itemId" value="" name="itemId" /> <!-- Add a hidden input field for itemId -->
            <input type="submit" id="edit-submit" value="Edit">
        </form>
    </div>
</div>
<div id="edit-form-container"></div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/rider/inventory.js"></script>