
@model List<Item>
<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }

    .close {
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

</style>

<table>
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Item Quantity</th>
            <th>Item Description</th>
            <th>Button 1</th>
            <th>Button 2</th>
        </tr>
    </thead>
    <tbody>

        @if(Model!=null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemId</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>

                    <td><button class="edit-btn" data-item-id="@item.ItemId">Edit</button></td>

                </tr>
            }
        }

        
      
    </tbody>
</table>

<button id="create-btn">Create a new item</button>


<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form asp-action="Inventory" asp-controller="Rider" >
            <label for="name">Item Name:</label>
            <input type="text" id="name" name="name"><br>

            <label for="description">Item Description:</label>
            <input type="text" id="description" name="description"><br>

            <label for="quantity">Item Quantity:</label>
            <input type="number" id="quantity" name="quantity"><br>

            <label for="price">Item Price:</label>
            <input type="number" id="price" name="price"><br>

            <input type="submit" value="Create">
        </form>
    </div>
</div>


<!-- Modal -->
<div id="edit-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="edit-form" asp-action="EditItem" asp-controller="Rider" method="post">
            <!-- Your form fields go here -->
            <label>Description</label>
            <input type="text" id="description" name="description"><br>
            
            <input type="number" id="quantity" name="quantity"><br>
            <input type="number" id="price" name="price"><br>

            <input type="hidden" id="itemId" name="itemId" /> <!-- Add a hidden input field for itemId -->
            <input type="submit" value="Edit">
        </form>
    </div>
</div>
<div id="edit-form-container"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    
    $(document).ready(function () {
        // Add click event listener to edit buttons
        $('.edit-btn').click(function () {
            // Get item ID from data attribute
            const itemId = $(this).data('item-id');

            // Populate modal fields with existing item data
            const itemName = $(`tr[data-item-id=${itemId}] td:nth-child(2)`).text();
            const itemQuantity = $(`tr[data-item-id=${itemId}] td:nth-child(3)`).text();
            const itemDescription = $(`tr[data-item-id=${itemId}] td:nth-child(4)`).text();
            $('#description').val(itemDescription);
            $('#price').val('');
            $('#quantity').val(itemQuantity);

            // Show modal
            $('#edit-modal').css('display', 'block');
        });

        // Add click event listener to close button in modal
        $('.close').click(function () {
            $('#edit-modal').css('display', 'none');
        });

        // Add click event listener to submit button in modal
        $('#submit-btn').click(function () {
            // TODO: Update item data in table and close modal
        });
    });


    const createBtn = document.getElementById("create-btn");
    const modal = document.getElementById("modal");
    const closeBtn = document.getElementsByClassName("close")[0];

    createBtn.onclick = function () {
        modal.style.display = "block";
    };

    closeBtn.onclick = function () {
        modal.style.display = "none";
    };

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };


        $(document).ready(function () {
            
            $('.edit-btn').click(function () {
                var itemId = $(this).data('item-id');
                // Dynamically create and show the edit form with the itemId as a hidden field
                var formHtml = '<form id="edit-form" method="post" action="/Rider/EditItem">' +
                    '<input type="hidden" name="itemId" value="' + itemId + '">' +
                    // Add your form fields here
                    '<label for="name">Item Name:</label>' +
                    '<input type="text" id="name" name="name"><br>' +
                    // ... add other form fields as needed
                    '<input type="submit" value="Update">' +
                    '</form>';
                $('#edit-form-container').html(formHtml);
            });
        });


        </script>
