<!DOCTYPE html>
<html>
<head>
    <link href="/css/admin/riderAccountRequest.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    @if (Model.Count == 0)
    {
        <h2>No request</h2>
    }

    <div class="container">
        <div class="row">
            @foreach (Rider r in Model)
            {
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Rider ID: @r.Id</h5>
                            <p class="card-text">Name: @r.Name</p>
                            <p class="card-text">Email: @r.Email</p>
                            <p class="card-text">CNIC: @r.Cnic</p>
                            <p class="card-text">Phone: @r.Phone</p>
                            <p class="card-text">Account Status: <span class="badge @((r.Status == 1) ? "badge-success" : "badge-danger")">@((r.Status == 1) ? "Active" : "Inactive")</span></p>
                            <a href="#" class="btn btn-primary" onclick="showLicenseModal('@Url.Content("~/uploads/Licnese/")' + '@r.License')">View Driving License</a>
                            <a href="#" class="btn btn-primary" onclick="showLicenseModal('@Url.Content("~/uploads/CriminalRecord/")' + '@r.PoliceRecord')">View Police Record</a>
                            <button class="btn btn-success" onclick="acceptRequest(@r.Id)">Accept Request</button>
                            <button class="btn btn-danger" onclick="rejectRequest(@r.Id)">Reject Request</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="licenseModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="hideLicenseModal()">&times;</span>
            <iframe id="licenseImage" src="" alt="Image not found" width="100%" height="100%"></iframe>
        </div>
    </div>

    <script src="/js/admin/riderAccountRequest.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
