@*
@model MenuConsumer

<link href="/css/rider/inventory.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<body>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Menu</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Item Name</th>
                            <th>Item Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.MenuDetails.Count; i++)
                        {
                            <tr>
                                <td>@Model.Items[i].ItemId</td>
                                <td>@Model.Items[i].Name</td>
                                <td>@Model.Items[i].Description</td>
                                <td>@Model.MenuDetails[i].Quantity</td>
                                <td>@Model.Items[i].Price</td>
                                <td>
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-success edit-btn" data-item-id="@Model.Items[i].ItemId" data-menu-id="@Model.MenuDetails[i].MenueId" onclick="openEditModal(@Model.Items[i].ItemId)">
                                            <i class="material-icons" data-toggle="tooltip" title="Add"></i> <span>Add to Cart</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Edit Modal HTML -->
    <div id="edit-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add to Cart</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>Item ID: <span id="modal-item-id" name="itemId"></span></p>
                        <p>Menu ID: <span id="modal-menu-id" name="MenueId"></span></p>
                        <p>Item Name: <span id="modal-item-name" name="itemName"></span></p>
                        <p>Item Quantity: <span id="modal-item-quantity" name="itemQuantity"></span></p>
                    </div>
                </div>
                <form id="add-to-menu-form" asp-action="AddToCart" asp-controller="Consumer" method="post">
                    <div class="form-group">
                        <label for="quantity" class="col-form-label">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" class="form-control" min="1" max="@ViewBag.maxQuantity" required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="itemId" name="itemId">
                        <input type="hidden" id="menuId" name="menuId">
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" onclick="closeEditModal()">
                        <input type="submit" id="add-orderItem" class="btn btn-primary" value="Add to Cart">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <h5>Your Order: M-@ViewBag.menuId</h5>

    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Order</h2>
                        </div>
                    </div>
                </div>
                <table id="menu-table">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Item Quantity</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="menu-table-body">
                            @if (orderItems != null)
                            {
                                @foreach (var item in orderItems)
                                {
                                    <tr>
                                        <td>@item.ItemId</td>
                                        <td>
                                            <span class="item-quantity">@item.Quantity</span>
                                        </td>
                                        <td>
                                            <a href="#" class="IncreaseDecreaseOrderItem" data-item-id="@item.ItemId" data-menu-id="@item.MenuId" onclick="openEditOrderModal()">
                                                <i class="material-icons custom-edit-btn" data-toggle="tooltip" title="Update">&#xE254;</i>
                                            </a>
                                            <a href="#" class="delete-btn" onclick="deleteItem('@item.ItemId', '@item.Quantity')" data-item-id="@item.ItemId" data-toggle="modal">
                                                <i class="material-icons custom-delete-btn" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <a href="/Consumer/HomePage" class="btn btn-secondary">
                        <i class="material-icons">arrow_back</i> Back
                    </a>
                </table>
            </div>
        </div>
    </div>
</body>

<script>
    function openEditModal(itemId) {
        // Get the item details from the table row
        var itemRow = $('tr').filter(function () {
            return $(this).find('td').eq(0).text() === itemId.toString();
        });

        var itemName = itemRow.find('td').eq(1).text();
        var itemQuantity = itemRow.find('td').eq(3).text();
        var menuId = itemRow.find('.edit-btn').data('menu-id');

        // Set the item details in the edit modal
        $('#modal-item-id').text(itemId);
        $('#modal-menu-id').text(menuId);
        $('#modal-item-name').text(itemName);
        $('#modal-item-quantity').text(itemQuantity);

        // Set the hidden input values in the form
        $('#itemId').val(itemId);
        $('#menuId').val(menuId);

        // Show the edit modal
        $('#edit-modal').modal('show');
    }

    function closeEditModal() {
        // Hide the edit modal
        $('#edit-modal').modal('hide');
    }

    function openEditOrderModal() {
        // TODO: Implement the functionality to edit the order item
    }

    function deleteItem(itemId, quantity) {
        // TODO: Implement the functionality to delete the order item
    }

    $('#add-to-menu-form').submit(function (event) {
        event.preventDefault();

        // Get the form data
        var formData = $(this).serialize();

        // Make the AJAX request to add the item to the cart
        $.ajax({
            url: '/Consumer/AddToCart',
            type: 'POST',
            data: formData,
            success: function (response) {
                // Handle the success response
                if (response.success) {
                    // Close the edit modal
                    closeEditModal();

                    // Refresh the order items table
                    refreshOrderItemsTable();
                } else {
                    // Show an error message
                    alert('Failed to add the item to the cart. Please try again.');
                }
            },
            error: function () {
                // Show an error message
                alert('An error occurred while adding the item to the cart. Please try again.');
            }
        });
    });

    function refreshOrderItemsTable() {
        // Make the AJAX request to get the updated order items
        $.ajax({
            url: '/Consumer/GetOrderItems',
            type: 'GET',
            success: function (response) {
                // Replace the order items table with the updated content
                $('#menu-table-body').html(response);
            },
            error: function () {
                // Show an error message
                alert('An error occurred while refreshing the order items. Please try again.');
            }
        });
    }
</script>
*@
@model MenuConsumer

@using (Html.BeginForm("PlaceOrder", "Consumer", FormMethod.Post))
{
    <!-- Display the menu items -->
    <h2>Menu</h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>


            @for(int i=0;i<Model.MenuDetails.Count;i++)
            {
                <tr>
                    <td>@Model.Items[i].ItemId</td>
                    <td>@Model.Items[i].Name</td>
                    <td>@Model.Items[i].Description</td>
                    <td>@Model.MenuDetails[i].Quantity</td>
                    <td>@Model.Items[i].Price</td>
                    <td>
                        <input type="number" name="orderQuantities[@Model.Items[i].ItemId]" min="0" max="@Model.MenuDetails[i].Quantity" />
                    </td>
                </tr>
            }

           @* @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ItemId</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>
                        <input type="number" name="orderQuantities[@item.ItemId]" min="0" max="@item.Quantity" />
                    </td>
                </tr>
            }*@
        </tbody>
    </table>

    <!-- Hidden field for menuId -->
    <input type="hidden" name="menuId" value="@ViewBag.menuId" />

    <!-- Submit button to place the order -->
    <input type="submit" value="Place order" class="btn btn-primary" />
}

<script>
    $('#add-to-menu-form').submit(function (event) {
        event.preventDefault();

        // Get the menuId from the hidden field
        var menuId = $('[name="menuId"]').val();

        // Get the order quantities
        var orderQuantities = {};
        $('[name^="orderQuantities"]').each(function () {
            var itemId = $(this).attr('name').match(/\d+/)[0];
            var quantity = $(this).val();
            orderQuantities[itemId] = quantity;
        });

        // Make the AJAX request to add the item to the cart
        $.ajax({
            url: '/Consumer/PlaceOrder',
            type: 'POST',
            data: { menuId: menuId, orderQuantities: orderQuantities },
            success: function (response) {
                // Handle the success response
                if (response.success) {
                    // Perform any necessary actions after placing the order
                } else {
                    // Show an error message
                    alert('Failed to place the order. Please try again.');
                }
            },
            error: function () {
                // Show an error message
                alert('An error occurred while placing the order. Please try again.');
            }
        });
    });
</script>
