@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<MenuConsumer>
<style>
    .menu-container {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .menu-number {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .menu-table {
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-bottom: 10px;
    }

    .menu-row {
        display: table-row;
    }

    .menu-cell {
        display: table-cell;
        padding: 5px;
        vertical-align: top;
    }
</style>

@{
    int menuNumber = 0;
    int i = 0;
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>


@foreach (MenuConsumer singleMenuConsumer in Model)
{
    <div class="menu-container">
        <div class="menu-number">
            Menu @menuNumber
        </div>
        <div class="menu-table">

            @for (  i = 0; i < singleMenuConsumer.MenuDetails.Count; i++)
            {
                <div class="menu-row">
                    <div class="menu-cell">
                        <h1>@singleMenuConsumer.Items[i].Name</h1>
                    </div>
                    <div class="menu-cell">
                        <h2>@singleMenuConsumer.Items[i].Description</h2>
                    </div>
                    <div class="menu-cell">
                        <p>Quantity: @singleMenuConsumer.MenuDetails[i].Quantity</p>
                    </div>
                    <div class="menu-cell">
                        <p>Price: @singleMenuConsumer.Items[i].Price</p>
                    </div>
                </div>
            
         
            }
            <button>Alert the rider</button><br>

            <a href="#" class="nav-item nav-link" onclick="sendSingleMenuConsumer('@singleMenuConsumer.MenuDetails[menuNumber].MenueId')">Place Order</a>

        </div>
    </div>
    menuNumber++;
}

<script>
       $(document).ready(function() {
        $('.place-order-link').click(function(e) {
            e.preventDefault();
            var menuIndex = $(this).data('menu-index');
            sendSingleMenuConsumer(menuIndex);
        });
    });

    function sendSingleMenuConsumer(menuId) {
        var url = "/Consumer/PlaceOrder";

        console.log(menuId)
        // Construct the URL with the serialized MenuConsumer object
        url += "?menuId=" + encodeURIComponent(menuId);

        window.location.href = url;
    }



</script>
